/* グループ確認用 */
div {
  border: solid;
  margin: 10px;
}

/* オリジナルCSS */
body {
  min-width: 986px;
}
.box {
  background-color: #fcc;
}
.inner {
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
}
.main {
  box-sizing: border-box;
  width: 700px;
}
.sub {
  box-sizing: border-box;
  width: 220px;
}
