@charset "utf-8";
/* グループ確認用 */
div {
  border: solid 1px #000;
  margin: 10px;
}

/* オリジナルCSS */
body {
  background-color: #ccc;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
}

.wrapper {
  width: 960px;
	background-color: white;
	margin:10px auto;
}

.alpha {
  width: 650px;
  float: right;
}

.beta {
  width: 230px;
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
}

