.sheet {
  width: 1000px;
  margin: 0 auto;
}
h1 {
  margin: 0;
  width: 970px;
  background: url(img/h1_price.jpg) no-repeat;
  padding-left: 30px;
  font-size: 36px;
  line-height: 150px;
  letter-spacing: 1px;
}
h2 {
    font-size: 30px;
    border-left: solid 7px #057692;
    padding-left: 10px;
}
.director, .doctor1, .doctor2{
  display: flex;
  margin: 50px;
}
.photo {
    margin-right: 30px;
}
p {
    font-size: 15px;
}
.text{
  border: solid 2px #05769240;
  padding: 20px;
}
